<app-pokemon-list></app-pokemon-list>
<label for="name">Name pokemon </label>
<input [value]="pokemonName" (input)="handleChange($event)" type="text" />
<p>{{ pokemonName }}</p>

<ng-container
  *ngIf="pokemonName.length; then pokemonList; else noPokemon"
></ng-container>

<ng-template #pokemonList>
  <h1>All pokemon available</h1>
</ng-template>
<ng-template #noPokemon>
  <h1>No pokemon avaliable</h1>
</ng-template>

<table>
  <tbody>
    <tr>
      <th>Name</th>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [class.cool-bool]="pokemon.isCool" class="pokemon-td">
        {{ i }} : {{ pokemon.name }}
      </td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td [ngClass]="{ 'cool-bool': pokemon.isCool }" class="pokemon-td">
        {{ i }}: {{ pokemon.name }}
      </td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td
        [style.backgroundColor]="pokemon.isStylish ? '#800080' : ''"
        class="pokemon-td"
      >
        {{ i }} : {{ pokemon.name }}
      </td>
    </tr>
    <tr *ngFor="let pokemon of pokemons; let i = index">
      <td
        [ngStyle]="{ backgroundColor: pokemon.isStylish ? '#800080' : '' }"
        class="pokemon-td"
      >
        {{ i }}: {{ pokemon.name }}
      </td>
    </tr>
  </tbody>
</table>
